
<%- include('head', { title: 'Authentication Example' }) -%>

<h1>Login</h1>
<%- message %>
<form method="post" action="/login">
    <p>
        <label>Username:</label>
        <input type="text" id="username" name="username">
    </p>
    </form>
    <p>
        <label>Password:</label>
        <input type="password" id="password" name="password">
    </p>
    <p>
        <input type="submit" value="Login" onclick="login()">
    </p>
</form>

<script>
    function login() {
        const user = {
            username: $("#username").val(),
            password: $("#password").val()
        }

        console.log(user)
        $.ajax({
            url: '/auth/login',
            type: 'POST',
            data: user,
            success: function(data) {
                console.log(data)
                alert(data.responseText)
            },
            error: function (err) {
                console.log(err)
                alert(err.responseText)
            }
        });

    }
</script>